environment:
  MINICONDA: "C:\\Miniconda"
  PYTHON: "C:\\Python34"
  PYTHON_VERSION: 3.4
  PYTHON_ARCH: 32

platform: x86

configuration: Release

init:
  - set PATH=%PYTHON%;%PYTHON%\Scripts;C:\Program Files (x86)\NSIS;%PATH%
  - python --version
  - python -m site
  - python -m pip install -U pip setuptools wheel
  - pip install -U pypiwin32==219
  - pip install pyside
  - pip install twisted
  - pip install py2exe
  - pip install zope.interface
  - type nul > C:\Python34\lib\site-packages\zope\__init__.py
  - pip freeze
  
install:
  - cd %APPVEYOR_BUILD_FOLDER%
  - for /F "tokens=2 delims='" %%a in ('findstr version syncplay\__init__.py') do @set ver=%%a
  - python buildPy2exe.py
  - copy Syncplay-%ver%-Setup.exe Syncplay-%ver%-Setup-Py34.exe
  - type nul > syncplay_v%ver%\syncplay.ini
  - copy resources\win_lua_note.txt syncplay_v%ver%\"VLC LUA Script installation.txt"

# Not a project with an msbuild file, build done at install.
build: off

artifacts:
  - path: 'syncplay_v$(ver)'
    type: zip
    name: Syncplay_$(ver)_Portable_py34

  - path: Syncplay-$(ver)-Setup-Py34.exe
    name: Syncplay-$(ver)-Setup-Py34

# Push artefact to S3 bucket and list all
before_deploy:
  - dir
  #- python -c "from PySide2 import QtCore; print QtCore.QLibraryInfo.location(QtCore.QLibraryInfo.PluginsPath)"


# Deploy build to BinTray
deploy:
  provider: BinTray
  username: alby128
  api_key:
    secure: lAocj5KA9Z9x4BefQBIgNlQJbeW4qPBfCgYVBHMyOP3NgyhnMLmvR57ZCqtCKBlQ
  subject: alby128
  repo: Syncplay
  package: Syncplay
  version: "test"
  publish: true
  override: true
    