[Desktop Entry]
Encoding=UTF-8
Name=Syncplay server
Comment=Synchronize video playback over network
Exec=syncplay-server %u
Terminal=true
Type=Application
Icon=syncplay
Categories=AudioVideo;Audio;Video;
